/* Inicial */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
input{
    background: none;
}
input:focus{
    /* background: none; */
    outline: none;
    box-shadow: none;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: none;
    color: inherit; 
}
:root{
    /* Colors */
    --yellow:#f1c40f;
    --warning:#c0392b;
    --blue_ligt:#1D7792;
    --gris:#bdc3c7;
}
/* Styles */
.bg_blueDark {
    background: #142850;
}

.bg_blueLight{
    background: var(--blue_ligt);
}

.ico-init{
    font-size: 300px;
    color: #00909E;
}
.button-clear{
    background: none;
    border: none;
}
.button-clear:focus{
    outline: none;
    box-shadow: none;
}
.header {
    margin-top: 54px;
}

.p-header {
    font-size: 50px;
}

.perfil {
    height: 178px;
    width: 178px;
    border-radius: 100%;
}

.titles_estate {
    font-size: 24px;
    font-weight: 700;
    color: #00909E;
    margin-bottom: 14px;
}

/* .descript_state {
    font-size: 24px;
    font-weight: 300;
    color: #DAE1E7;
    margin-top: 0;
} */
.ico-2x{
    font-size: 33px;
}
.notification-ico{
    position: relative;
}
.notification-number{
    position: absolute;
    height: 15px;
    width: 15px;
    top: 17px;
    left: 17px;
    background: #1D7792;
    border-radius: 100%;
    font-size: 9.5px;
    color: #ffffff;
}
.ico-toggle{
    font-size: 1.5rem;
}
.title_pestañas{
    color: #fff;
    margin-bottom: 2px;
    font-size: 40px;
}
.title_pestañas:focus{
    outline: none;
    box-shadow: none;
}
.descript_pestañas:focus{
    outline: none;
    box-shadow: none;
}
.title_pestañas:hover{
    color: #fff;
}
.descript_pestañas:hover{
    color: #fff;
}
.descript_pestañas{
    color: #fff;
    margin-top: 0;
    font-size: 17px;
}
.alert{
    margin-left: 0;

    height: 135px;
    margin-bottom: 0;
}
.chevron_down_ico{
    font-size: 50px;
}
.data_toggle{
    margin-left: 0;
    margin-top: 0;
    width: 1602px;
    height: 500px;
    border: 1px solid #707070;
}
.card-header{
    /* display: flex;
    flex-direction: row; */
}
.text-card{
    font-size: 20px;
}
.linea_lateral{
    margin-left: 64px;
    background: #000;
    height: 102px;
    width: 1px;
}
.badge{
    width: 86px;
    height: 28px;
}
.card_description{
    font-size: 1.05rem;
    margin-left: 2rem;
    width: 85%;
}


/* Group of buttons */
.btn-comprado{
    background-color: #10AC84;
    color: #fff;
    margin-left: 2rem;
}
.btn-agregar{
    background-color: #1D7792;
    color: #fff;
}
.btn-editar{
    background-color: #1D7792;
    color: #fff;
}
.btn-eliminar{
    background-color: #1D7792;
    color: #fff;
}
.ico-agregar{
    color:#10AC84;
}
.btnNewPestaña{
    width: 1585.55px;
    height: 135px;
}
.btn-plus-pestaña{
    font-size: 50px;
}
.footer{
    width: 100%;
    height: 64px;
    background: #142850;
    color: #ffffff;
    padding-left: 2rem;
    
}
.container-edit{
    margin-top: 3.3rem;
}
.perfil-center{
    margin-left: 19rem;
}
.text-edit{
    font-size: 3.1rem;
    font-weight: 300;
}
.ico-edit-small{
    font-size: 1rem;
}
.btn-passNew{
    margin-left: 20rem;
}
.container-left{
    height: 100vh;
}
.buttons-group-operations button:hover {
    color: #1D7792;
    border: 1px solid #1D7792;
    background:none;

}
.form-regist{
    width: 50%;
    border:none;
    font-size: 1.5rem;
}

.form-group-regist{
    /* margin-top: 15rem; */
    width: 100%;
    height: 100%;
    padding-bottom: 5rem;
}
.line_forms{
    width: 20rem ;
    height: 1px ;
    background:  #000000;
}
.btn-form-regist{
    position: relative;
    width: 25rem;
    height: 5.9rem;
    margin-bottom: 1rem;
    border-radius: 50px;
    font-size: 1.3rem;
}
.btn-form-regist:hover{
    border: 2.5px solid #ffffff;
}
.ico-coins{
    font-size: 20rem;
}
.ico-arrow{
    font-size: 2.3rem;
}
.btn-passNew{
    color: #fff;
}
.btn-passNew:hover{
    border: 1px solid #142850;
    background: none;
    color: #142850;
}
.msg_error{
    color: var(--warning);
}
.data_email{
    color: var(--blue_ligt);
}
.btn-calendar{
    background: none;
    border: none;
}
.btn-calendar:focus{
    box-shadow: none;
    outline: none;
}
#calendar{
    width: 350px;
    /* height: ; */
}
.fc-header-toolbar{
    display: flex;
    flex-direction: column;
}
.fc-left{
    margin-right: auto;
}
.fc-right{
    margin-right: auto;
}
.badge-Normal{
    background: var(--gris);
}
.badge-Medium{
    background: var(--yellow);
}
.badge-High{
    background: var(--warning);
}
/* .btn-form-regist::after{
    content: "";
    position: absolute;
    width:6.274rem;
    height: 6.274rem;
    border-radius: 100%;
    background:red ;
    top: -4px;
    left: -25px;
    z-index: -1;
} */
    /* Mediaqueries */
@media screen and (min-width: 1080px){
    .container{
        min-width: 85%;
    }
}
